  /* Base reset */
  /* box-sizing and font sizing */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
  }

 
/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

 

h1 {
    font-size: 6rem;
    
}

h2 {
    font-size: 1.75rem;
    font-weight: 100;
    font-style: italic;
    color: rgb(214, 214, 214);
}

h3 {
    font-size: 1.25rem;
    font-weight: 300;
    color: rgb(214, 214, 214);;
}

 #navbar {
    display: flex;
    background: #040462;
    position: fixed;
    width: 100%;
    height: 4rem;
    flex-flow: row wrap;
    justify-content: flex-end;
    font-size: 1.5rem;
 }

 nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    
 }

 nav a:hover {
    background: #00d4ff;
    color: white;
    transition-duration: 1s ;
 }

 #welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100vh;
    text-align: center;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(4,4,98,1) 14%, rgba(0,212,255,1) 100%);
 }

 #projects {
    background: #026aaf;
    height: 100vh;
 }

 #social {
    display: flex;
    background:#033c8c;
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    
 }

 #footer {
    border-top: 0.5rem solid #040462;
    background: #033c8c;
    height: 5rem;
 }